<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="admin/shared/head :: head"></div>

<body>
<div th:replace="admin/shared/left_panel :: left_panel"></div>

<div id="right-panel" class="right-panel">

    <div th:replace="admin/shared/header :: header"></div>

    <div th:replace="admin/shared/breadcrumbs :: breadcrumbs"></div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header"><b>Supervisor</b></div>
            <div class="card-body card-block">
                <div class="form-group col-lg-6">
                    <label for="firstName" class=" form-control-label">First name</label>
                    <input type="text" id="firstName" placeholder="First name" class="form-control" required/>
                </div>
                <div class="form-group col-lg-6">
                    <label for="lastName" class=" form-control-label">Last name</label>
                    <input type="text" id="lastName" placeholder="Last name" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label for="email" class="form-control-label">Email</label>
                    <input type="email" id="email" placeholder="Email" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label for="phone" class=" form-control-label">Phone number</label>
                    <input type="tel" id="phone" placeholder="Phone Number" class="form-control" required/>
                </div>
            </div>
            <div class="card-footer">
                <button type="reset" class="btn btn-danger float-left" onclick="resetInput()">
                    <i class="fa fa-ban"></i> Reset
                </button>
                <button id="btnCreate" type="button" class="btn btn-primary float-right" onclick="createAccount(this)">
                    <i class="fa fa-check"></i> Create
                </button>
            </div>
        </div>
    </div>
</div>

<!--<script src="/st-admin/vendors/jquery/dist/jquery.min.js"></script>-->
<!--<script src="/st-admin/vendors/popper.js/dist/umd/popper.min.js"></script>-->
<script src="/st-admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="/st-admin/assets/js/main.js"></script>-->
<script src="/st-admin/js/app.js"></script>

<script src="/st-admin/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
<script src="/st-admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<script src="/st-admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

</body>
<script>
    function createAccount(btn) {
        let valdateData = validateInput();
        let firstName = document.getElementById("firstName").value;
        let lastName = document.getElementById("lastName").value;
        let email = document.getElementById("email").value;
        let phoneNumber = document.getElementById("phone").value;
        let roleId = 2;

        if (valdateData) {
            btn.disabled = true;
            CallAjaxWithFetch(`/admin/create_supervisor`,
                "POST",
                {firstName, lastName, email, phoneNumber, roleId},
                (data) => {
                    if (data.status === true) {
                        showAlert(true, data.message);
                        setTimeout(function () {
                            document.location.href = "/list-supervisors";
                        }, 3000);
                    } else {
                        showAlert(false, data.message);
                    }
                    btn.disabled = false;
                },
                (err) => {
                    showAlert(false, err.message);
                    btn.disabled = false;
                }
            )
        }
    }

    function validateInput() {
        let validateMessage = '';

        let firstName = $("#firstName").val().trim();
        let lastName = $("#lastName").val().trim();
        let phoneNumber = $("#phone").val().trim();
        let email = $("#email").val().trim();

        let intRegex = /\d+/;
        let phoneRegex = /0\d{9}/;
        let emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;

        if (firstName.length === 0) {
            validateMessage = 'First Name is required!';
        } else if (lastName.length === 0) {
            validateMessage = 'Last Name is required';
        } else if (email.length === 0) {
            validateMessage = 'Email is required';
        } else if (!emailRegex.test(email)) {
            validateMessage = 'Email is invalid';
        } else if (!phoneRegex.test(phoneNumber)) {
            validateMessage = 'Phone number should follow format 0#########';
        }

        if (validateMessage.length) {
            showAlert(false, validateMessage);
            return null;
        }

        return {
            firstName: firstName,
            lastName: lastName,
            email: email,
            phoneNumber: phoneNumber,
        }
    }

    function resetInput() {
        document.getElementById("firstName").value = '';
        document.getElementById("lastName").value = '';
        document.getElementById("email").value = '';
        document.getElementById("phone").value = '';
    }

</script>
</html>