<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="admin/shared/head :: head"></div>

<body>

<div th:replace="admin/shared/left_panel :: left_panel"></div>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <div th:replace="admin/shared/header :: header"></div>

    <div th:replace="admin/shared/breadcrumbs :: breadcrumbs"></div>

    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <b>Parking Lot</b>
            </div>
            <div class="card-body card-block">
                <input type="hidden" th:value="${session.User.accountId}" id="accountId">
                <div class="form-group">
                    <label class="form-control-label required">Display Name <span></span></label>
                    <input type="text" id="displayName" placeholder="Display Name" class="form-control"/>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form-control-label required">Total Slot</label>
                    <input type="number" id="slots" placeholder="Total Slot" class="form-control"/>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form-control-label required">Phone Number</label>
                    <input type="text" id="phoneNumber" placeholder="Phone Number" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Address</label>
                    <input type="text" id="address" placeholder="Address" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Time of Operation</label>
                    <input type="text" id="timeOfOperation" placeholder="Time of Operation" class="form-control"/>
                </div>
                <!--<div class="form-group">-->
                    <!--<label for="select" class=" form-control-label">Owner</label>-->
                    <!--&lt;!&ndash;<div class="col-12 col-md-9">&ndash;&gt;-->
                    <!--<select name="select" id="select" class="form-control" th:field="*{ownerName}">-->
                        <!--<option value="0">Please select</option>-->
                        <!--&lt;!&ndash;<option value="1">Option #1</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="2">Option #2</option>&ndash;&gt;-->
                        <!--&lt;!&ndash;<option value="3">Option #3</option>&ndash;&gt;-->
                        <!--<option th:each="i : ${ownerName.lastName}" th:value="${i}" th:text="${i}">-->
                        <!--</option>-->
                    <!--</select>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="form-control-label">Owner</label>
                    <input type="text" id="owner" placeholder="Owner" class="form-control"/>
                    <input type="hidden" id="ownerId" />
                </div>
            </div>
            <div class="card-footer">
                <button type="reset" class="btn btn-danger float-left" id="btnReset">
                    <i class="fa fa-ban"></i> Reset
                </button>
                <button type="button" class="btn btn-primary float-right" id="btnCreate">
                    <i class="fa fa-check"></i> Create
                </button>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <b>Location</b>
            </div>
            <div class="card-body card-block">
                <div class="form-group col-lg-12">
                    <input id="pac-input" class="controls" type="text" placeholder="Search...">
                    <div id="maps"></div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Latitude</label>
                    <input type="text" disabled id="lat-input" placeholder="Latitude" class="form-control"/>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form-control-label">Longitude</label>
                    <input type="text" disabled id="long-input" placeholder="Longitude" class="form-control"/>
                </div>
            </div>
        </div>
    </div>
</div><!-- /#right-panel -->
<!-- Right Panel -->

<!--<script src="/st-admin/vendors/popper.js/dist/umd/popper.min.js"></script>-->
<script src="/st-admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="/st-admin/assets/js/main.js"></script>-->
<!--<script src="/st-admin/assets/js/main.js"></script>-->
<!--<script src="/shared/js/maps.js"></script>-->

</body>
<script>
    let ownersList = [];
    let map;
    let marker;
    $(document).ready(function () {
        $('#owner').prop("disabled", true);
        doAjax("/admin/all_owners", "GET", null, function (data) {
            ownersList = data.objectResponse;
            $('#owner').prop("disabled", false);
        });

        $('#owner').autocomplete({
            source: function (request, response) {
                $('#ownerId').val("");
                let searchValue = request.term;
                response($.map(ownersList, function (owner, index) {
                    let fullName = owner.lastName + " " + owner.firstName;
                    if (fullName.toUpperCase().indexOf(searchValue.toUpperCase()) >= 0) {
                        return {
                            label: owner.lastName + " " + owner.firstName,
                            value: owner.lastName + " " + owner.firstName,
                            ownerId: owner.ownerId
                        };
                    }
                }));
            },
            select: function (event, ui) {
                $('#ownerId').val(ui.item.ownerId);
            },
            minLength: 2,
            delay: 100
        });

        $("#btnCreate").click(function (event) {
            let validatedData = validateInput();

            let adminId = document.getElementById("accountId").value;

            if (validatedData) {
                doAjax("/admin/create_parking_lot/" + adminId, "POST", validatedData, function (response) {
                    showAlert(true, response.message);
                    setTimeout(function () {
                        document.location.href = "/list-parking-lots";
                    }, 3000);
                }, function (error) {
                    showAlert(false, error.message);
                });
            }
        });

        $("#btnReset").click(function (event) {
            resetInput();
        });
    });

    function validateInput() {
        let validateMessage = '';

        let displayName = $("#displayName").val().trim();
        let long = $("#long-input").val().trim();
        let lat = $("#lat-input").val().trim();
        let slots = $("#slots").val().trim();
        let phoneNumber = $("#phoneNumber").val().trim();
        let address = $("#address").val().trim();
        let timeOfOperation = $("#timeOfOperation").val().trim();
        let ownerId = $("#ownerId").val();

        let floatRegex = /^[+-]?\d+(\.\d+)?$/;
        let intRegex = /\d+/;
        let phoneRegex = /0\d{9}/;

        if (displayName.length === 0) {
            validateMessage = 'Display Name is required!';
        } else if (!floatRegex.test(long) || !floatRegex.test(lat)) {
            validateMessage = 'Long and lat should be float number!';
        } else if (!intRegex.test(slots) || parseInt(slots) === 0) {
            validateMessage = 'Total slots should be positive integer number!';
        } else if (!phoneRegex.test(phoneNumber)) {
            validateMessage = 'Phone number should follow format 0#########';
        } else if (!ownerId.length) {
            validateMessage = 'Please choose an owner!';
        }

        if (validateMessage.length) {
            showAlert(false, validateMessage);
            return null;
        }

        return {
            displayName: displayName,
            longitude: parseFloat(long),
            latitude: parseFloat(lat),
            totalSlot: parseInt(slots),
            address: address,
            phoneNumber: phoneNumber,
            timeOfOperation: timeOfOperation,
            ownerId: ownerId
        }
    }

    function resetInput() {
        document.getElementById("displayName").value = '';
        // document.getElementById("long").value = '';
        // document.getElementById("lat").value = '';
        document.getElementById("slots").value = '';
        document.getElementById("phoneNumber").value = '';
        document.getElementById("address").value = '';
        document.getElementById("timeOfOperation").value = '';
        document.getElementById("ownerId").value = '';
    }

    function initMap() {
        // Default Long and Lat
        let latitude = 10.762622;
        let longitude = 106.660172;

        let myLatLng = {
            lat: latitude,
            lng: longitude
        };

        map = new google.maps.Map(document.getElementById("maps"), {
            center: myLatLng,
            disableDefaultUI: true,
            zoom: 14,
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false,
            disableDoubleClickZoom: true, // disable the default map zoom on double click
        });
        google.maps.event.addListener(map, 'click', function (event) {
            if (marker) {
                marker.setMap(null);
            }
            $('#lat-input').val(event.latLng.lat());
            $('#long-input').val(event.latLng.lng());
            marker = new google.maps.Marker({
                position: event.latLng,
                map: map,
                title: event.latLng.lat() + ', ' + event.latLng.lng()
            });
        });

        // Create the search box and link it to the UI element.
        let input = document.getElementById('pac-input');
        let searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            let places = searchBox.getPlaces();

            if (!places.length) {
                showAlert(false, "No place found! Please try again!");
                return;
            }

            if (places.length > 1) {
                showAlert(false, "Please choose an exact place from the dropdown list!");
                return;
            }

            // Clear out the old marker.
            if (marker) {
                marker.setMap(null);
            }

            // For each place, get the icon, name and location.
            let bounds = new google.maps.LatLngBounds();
            place = places[0];
            if (!place.geometry) {
                console.log("Returned place contains no geometry");
                return;
            }
            // Create a marker for each place.
            marker = new google.maps.Marker({
                position: place.geometry.location,
                map: map,
                title: place.geometry.location.lat() + ', ' + place.geometry.location.lng()
            });
            $('#lat-input').val(place.geometry.location.lat());
            $('#long-input').val(place.geometry.location.lng());
            if (place.geometry.viewport) {
                // Only geocodes have viewport.
                bounds.union(place.geometry.viewport);
            } else {
                bounds.extend(place.geometry.location);
            }
            map.fitBounds(bounds);
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMZwxxIJNq2mSLJjFYuoiTmpkaE8v-8T8&libraries=places&callback=initMap"
        async defer></script>
</html>