<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="admin/shared/head :: head"></div>

<body>

<div th:replace="admin/shared/left_panel :: left_panel"></div>

<div id="right-panel" class="right-panel">

    <div th:replace="admin/shared/header :: header"></div>

    <div th:replace="admin/shared/breadcrumbs :: breadcrumbs"></div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <b>Driver</b>
            </div>
            <div class="card-body card-block" id="manager-form">
                <input id="accountId" type="hidden" th:value="${driver.accountId}"/>
                <div class="form-group">
                    <label for="email" class=" form-control-label">Email</label>
                    <input type="text" id="email" th:value="${driver.email}" class="form-control" disabled>
                </div>
                <div class="form-group col-lg-6">
                    <label for="firstName" class=" form-control-label">First name</label>
                    <input type="text" id="firstName" th:value="${driver.firstName}" class="form-control" readonly>
                </div>
                <div class="form-group col-lg-6">
                    <label for="lastName" class=" form-control-label">Last name</label>
                    <input type="text" id="lastName" th:value="${driver.lastName}" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label for="phone" class=" form-control-label">Phone number</label>
                    <input type="text" id="phone" th:value="${driver.phoneNumber}" class="form-control" readonly>
                </div>
            </div>
            <!--<div class="card-footer">-->
                <!--<button type="button" id="btn-save" class="btn btn-primary float-right" disabled>-->
                    <!--<i class="fa fa-pencil"></i> Save-->
                <!--</button>-->
            <!--</div>-->
        </div>
    </div>
</div>

<!--<script src="/st-admin/vendors/jquery/dist/jquery.min.js"></script>-->
<!--<script src="/st-admin/vendors/popper.js/dist/umd/popper.min.js"></script>-->
<!--<script src="/st-admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--<script src="/st-admin/assets/js/main.js"></script>-->
<!--<script src="/st-admin/js/app.js"></script>-->
<!--<script src="/st-admin/js/service.js"></script>-->

<!--<script src="/st-admin/vendors/jqvmap/dist/jquery.vmap.min.js"></script>-->
<!--<script src="/st-admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>-->
<!--<script src="/st-admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>-->

</body>
<script>

</script>
</html>