<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="admin/shared/head :: head"></div>

<body class="bg-dark">

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="#">
                        <h2 style="color: whitesmoke;">Smart Parking</h2>
                    </a>
                </div>
                <div class="login-form">
                    <form>
                        <div class="form-group">
                            <label>Email address</label>
                            <input type="email" id="email" class="form-control" placeholder="Email">
                        </div>
                        <button type="submit" id="btnForget" class="btn btn-primary btn-flat m-b-15">Send</button>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--<script src="vendors/jquery/dist/jquery.min.js"></script>-->
    <!--<script src="vendors/popper.js/dist/umd/popper.min.js"></script>-->
    <!--<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>-->
    <script type="text/javascript" src="/st-admin/js/app.js"></script>
    <script type="text/javascript" src="/st-admin/assets/js/app.js"></script>
    <!--<script src="assets/js/main.js"></script>-->


</body>
<script>

    ready(function () {
        document.getElementById("btnForget").addEventListener("click", function () {
            forgetPassword();
        });

    });

    function forgetPassword() {
        let email = document.getElementById("email").value;

        CallAjaxWithFetch(`/admin/forget_password?email=${email}`,
            "POST",
            {},
            (data) => {
                if (data.status === true) {
                    showAlert(true, data.message);
                    //window.jwtTokenGlobalVariable = data.objectResponse;
                    //setTimeout(function () {
                        document.location.href = "/login";
                    //}, 3000);
                }
                if (data.status === false) {
                    showAlert(false, data.message);
                }
            },
            (err) => {
                showAlert(false, data.message);
            }
        );
    }

</script>
</html>
