<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="admin/shared/head :: head"></div>

<body>

<div th:replace="admin/shared/left_panel :: left_panel"></div>

<div id="right-panel" class="right-panel">

    <div th:replace="admin/shared/header :: header"></div>

    <div th:replace="admin/shared/breadcrumbs :: breadcrumbs"></div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header" th:switch="${plot.active}">
                <b>Parking Lot</b>
                <button type="button" id="btnDeactive" class="btn btn-danger float-right" th:case="true">
                    <i class="fa fa-ban"></i> Deactive
                </button>
                <button type="button" id="btnActive" class="btn btn-success float-right" th:case="false">
                    <i class="fa fa-check"></i> Active
                </button>
            </div>
            <div class="card-body card-block" id="parkinglot-form">
                <input id="ownerIdPlot" th:value="${plot.owner.ownerId}" type="hidden">
                <input id="parkingLotId" type="hidden" th:value="${plot.parkingLotId}"/>
                <input id="accountId" type="hidden" th:value="${session.User.accountId}"/>
                <div class="form-group">
                    <label for="displayName" class=" form-control-label">Name</label>
                    <input type="text" id="displayName" th:value="${plot.displayName}" class="form-control" required>
                </div>
                <div class="form-group">
                    <div id="maps"></div>
                    <div class="col-lg-6">
                        <label class=" form-control-label">Longitude</label>
                        <input type="text" id="long-input" th:value="${plot.longitude}" class="form-control" required>
                    </div>
                    <div class="col-lg-6">
                        <label class=" form-control-label">Latitude</label>
                        <input type="text" id="lat-input" th:value="${plot.latitude}" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="timeOfOperation" class=" form-control-label">Time Of Operation</label>
                    <input type="text" id="timeOfOperation" th:value="${plot.timeOfOperation}" class="form-control"
                           required>
                </div>
                <div class="form-group">
                    <label for="totalSlot" class=" form-control-label">Total Slot</label>
                    <input type="text" id="totalSlot" th:value="${plot.totalSlot}" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="address" class=" form-control-label">Address</label>
                    <input type="text" id="address" th:value="${plot.address}" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="phoneNumberPlot" class=" form-control-label">Phone Number</label>
                    <input type="text" id="phoneNumberPlot" th:value="${plot.phoneNumber}" class="form-control"
                           required>
                </div>
            </div>
            <div class="card-footer">
                <button id="btn-save" type="button" class="btn btn-primary float-right" disabled>
                    <i class="fa fa-pencil"></i> Save
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row form-group">
            <div class="col col-md-12">
                <div class="input-group">
                    <input type="text" id="input2-group2" placeholder="Search Owner"
                           class="form-control" style="margin-right: 10px;">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" id="btnAssign"><i class="fa fa-search"></i>&nbsp;Assign</button>
                    </div>
                    <input type="hidden" id="ownerId"/>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <b>Owner</b>
            </div>
            <div class="card-body card-block">
                <!--<ul class="nav nav-tabs" id="myTab" role="tablist">-->
                <!--<li class="nav-item">-->
                <!--<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"-->
                <!--aria-controls="home" aria-selected="true">Parking Lot #8</a>-->
                <!--</li>-->
                <!--<li class="nav-item dropdown">-->
                <!--<a class="nav-link dropdown-toggle" id="home-tab" data-toggle="dropdown" href="#home" role="button" aria-haspopup="true" aria-expanded="false">Parking Lot #8<span class="caret"></span></a>-->
                <!--<div class="dropdown-menu">-->
                <!--<a class="dropdown-item" href="#">Submenu 1-1</a>-->
                <!--<a class="dropdown-item" href="#">Submenu 1-2</a>-->
                <!--<a class="dropdown-item" href="#">Submenu 1-3</a>-->
                <!--</div>-->
                <!--</li>-->
                <!--</ul>-->
                <div class="tab-content pl-3 p-1" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="form-group row">
                            <div class="col col-sm-3">
                                <label for="firstName" class=" form-control-label">First Name</label>
                            </div>
                            <div class="col-12 col-sm-9">
                                <input type="text" id="firstName" th:value="${plot.owner.firstName}"
                                       class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col col-sm-3">
                                <label for="lastName" class=" form-control-label">Last Name</label>
                            </div>
                            <div class="col-12 col-sm-9">
                                <input type="text" id="lastName" th:value="${plot.owner.lastName}" class="form-control"
                                       disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col col-sm-3">
                                <label for="phoneNumber" class=" form-control-label">Phone Number</label>
                            </div>
                            <div class="col-12 col-sm-9">
                                <input type="number" id="phoneNumber" th:value="${plot.owner.phoneNumber}"
                                       class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" th:if="${not #lists.isEmpty(supervisors)}">
            <div class="card-header">
                <strong class="card-title">List Supervisors</strong>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="supervisor, itr : ${supervisors}">
                        <th scope="row" th:text="${itr.count}">1</th>
                        <td th:text="${supervisor.firstName} + ' ' + ${supervisor.lastName}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--<script src="vendors/jquery/dist/jquery.min.js"></script>-->
<!--<script src="vendors/popper.js/dist/umd/popper.min.js"></script>-->
<!--<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>-->
<!--<script src="assets/js/main.js"></script>-->
<!--<script src="/js/app.js"></script>-->

<!--<script src="vendors/jqvmap/dist/jquery.vmap.min.js"></script>-->
<!--<script src="vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>-->
<!--<script src="vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>-->

</body>
<script>
    let ownersList = [];
    ready(function () {
        $('#input2-group2').prop("disabled", true);
        doAjax("/admin/all_owners", "GET", null, function (data) {
            ownersList = data.objectResponse;
            $('#input2-group2').prop("disabled", false);
        });

        $('#input2-group2').autocomplete({
            source: function (request, response) {
                $('#ownerId').val("");
                let searchValue = request.term;
                response($.map(ownersList, function (owner, index) {
                    let fullName = owner.lastName + " " + owner.firstName;
                    if (fullName.toUpperCase().indexOf(searchValue.toUpperCase()) >= 0) {
                        return {
                            label: owner.lastName + " " + owner.firstName,
                            value: owner.lastName + " " + owner.firstName,
                            ownerId: owner.ownerId
                        };
                    }
                }));
            },
            select: function (event, ui) {
                $('#ownerId').val(ui.item.ownerId);
            },
            minLength: 2,
            delay: 100
        });

        document.getElementById("btn-save").addEventListener("click", function () {
            updateParkingLot();
        });

        document.getElementById("btnAssign").addEventListener("click", function () {
            assignOwnerForParkingLot();
        });

        $("#btnDeactive").click(function (event) {
            let parkingLotId = document.getElementById("parkingLotId").value;

            doAjax("/admin/deactive_parking_lot/" + parkingLotId, "PUT", {}, function (response) {
                showAlert(true, response.message);
                document.location.href = "/list-parking-lots";
            }, function (error) {
                showAlert(false, error.message);
            });
        });

        $("#btnActive").click(function (event) {
            let parkingLotId = document.getElementById("parkingLotId").value;

            doAjax("/admin/active_parking_lot/" + parkingLotId, "PUT", {}, function (response) {
                showAlert(true, response.message);
                document.location.href = "/list-parking-lots";
            }, function (error) {
                showAlert(false, error.message);
            });
        });

        $("#parkinglot-form input").keydown(function (event) {
            $("#btn-save").prop("disabled", false);
            //Validate
            // validateInput();
        });
    });

    function updateParkingLot() {
        let validateData = validateInput();
        let parkingLotId = document.getElementById("parkingLotId").value;
        let displayName = document.getElementById("displayName").value;
        let longitude = document.getElementById("long-input").value;
        let latitude = document.getElementById("lat-input").value;
        let timeOfOperation = document.getElementById("timeOfOperation").value;
        let totalSlot = document.getElementById("totalSlot").value;
        let address = document.getElementById("address").value;
        let phoneNumber = document.getElementById("phoneNumberPlot").value;
        let accountId = document.getElementById("accountId").value;
        let ownerId = document.getElementById("ownerIdPlot").value;
        let active = true;

        if (validateData) {
            CallAjaxWithFetch(`/admin/update_parking_lot/${accountId}`,
                "PUT",
                {
                    parkingLotId,
                    displayName,
                    longitude,
                    latitude,
                    address,
                    phoneNumber,
                    timeOfOperation,
                    ownerId,
                    active,
                    totalSlot
                },
                (data) => {
                    showAlert(true, data.message);
                    document.location.href = "/list-parking-lots";
                },
                (err) => {
                    showAlert(false, err.message);
                }
            )
        }
    };

    function validateInput() {
        let validateMessage = '';

        let displayName = $("#displayName").val().trim();
        let long = $("#long-input").val().trim();
        let lat = $("#lat-input").val().trim();
        let slots = $("#totalSlot").val().trim();
        let phoneNumber = $("#phoneNumberPlot").val().trim();
        let address = $("#address").val().trim();
        let timeOfOperation = $("#timeOfOperation").val().trim();

        let floatRegex = /^[+-]?\d+(\.\d+)?$/;
        let intRegex = /\d+/;
        let phoneRegex = /0\d{9}/;

        if (displayName.length === 0) {
            validateMessage = 'Display Name is required!';
        } else if (!floatRegex.test(long) || !floatRegex.test(lat)) {
            validateMessage = 'Long and lat should be float number!';
        } else if (!intRegex.test(slots) || parseInt(slots) === 0) {
            validateMessage = 'Total slots should be positive integer number!';
        } else if (!phoneRegex.test(phoneNumber)) {
            validateMessage = 'Phone number should follow format 0#########';
        } else if (timeOfOperation.length === 0) {
            validateMessage = 'Time of operation is required!';
        } else if (address.length === 0) {
            validateMessage = 'Address is required!';
        }

        if (validateMessage.length) {
            showAlert(false, validateMessage);
            return null;
        }

        return {
            displayName: displayName,
            longitude: parseFloat(long),
            latitude: parseFloat(lat),
            totalSlot: parseInt(slots),
            address: address,
            phoneNumber: phoneNumber,
            timeOfOperation: timeOfOperation
        }
    }

    function assignOwnerForParkingLot() {
        let parkingLotId = document.getElementById("parkingLotId").value;
        let displayName = document.getElementById("displayName").value;
        let longitude = document.getElementById("long-input").value;
        let latitude = document.getElementById("lat-input").value;
        let timeOfOperation = document.getElementById("timeOfOperation").value;
        let totalSlot = document.getElementById("totalSlot").value;
        let address = document.getElementById("address").value;
        let phoneNumber = document.getElementById("phoneNumberPlot").value;
        let accountId = document.getElementById("accountId").value;
        let ownerId = document.getElementById("ownerId").value;
        console.log("aaaaaaaaa" + ownerId);
        let active = true;

        CallAjaxWithFetch(`/admin/update_parking_lot/${accountId}`,
            "PUT",
            {
                parkingLotId,
                displayName,
                longitude,
                latitude,
                address,
                phoneNumber,
                timeOfOperation,
                ownerId,
                active,
                totalSlot
            },
            (data) => {
                showAlert(true, data.message);
                document.location.href = "/list-parking-lots";
            },
            (err) => {
                showAlert(false, err.message);
            }
        )
    }

    function initMap() {
        let latitude = parseFloat($("#lat-input").val().trim());
        let longitude = parseFloat($("#long-input").val().trim());

        let myLatLng = {
            lat: latitude,
            lng: longitude
        };

        map = new google.maps.Map(document.getElementById("maps"), {
            center: myLatLng,
            disableDefaultUI: true,
            zoom: 14,
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false,
            disableDoubleClickZoom: true, // disable the default map zoom on double click
        });
        marker = new google.maps.Marker({
            position: myLatLng,
            map: map
        });
        google.maps.event.addListener(map, 'click', function (event) {
            if (marker) {
                marker.setMap(null);
            }
            $('#lat-input').val(event.latLng.lat());
            $('#long-input').val(event.latLng.lng());
            $("#btn-save").prop("disabled", false);
            marker = new google.maps.Marker({
                position: event.latLng,
                map: map
            });
        });
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMZwxxIJNq2mSLJjFYuoiTmpkaE8v-8T8&callback=initMap"
        async defer></script>
</html>