<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="admin/shared/head :: head"></div>

<body>

    <div id="right-panel" class="right-panel">
        <div class="col-lg-8">
            <div class="header-left">
                <h3>Set Password Page</h3>
            </div>

            <div class="card">
                <div class="card-body card-block">
                    <div class="form-group">
                        <label for="email" class=" form-control-label">Email</label>
                        <input type="text" id="email" class="form-control" th:value="${param.email}" disabled>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="password" class=" form-control-label">Password</label>
                        <input type="password" id="password" class="form-control">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="passwordConfirm" class=" form-control-label">Confirm Password</label>
                        <input type="password" id="passwordConfirm" class="form-control">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" id="btnSubmit" class="btn btn-primary float-right">
                        <i class="fa fa-pencil"></i> Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>

    <script src="/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

</body>
<script>
    ready(function () {
        document.getElementById("btnSubmit").addEventListener("click", function () {
           setPassword();
        });
    });


    function setPassword() {
        let validateData = validateInput();
        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;
        let passwordConfirm = document.getElementById("passwordConfirm").value;

        if (validateData) {
            CallAjaxWithFetch(`/account/set_first_password?email=${email}&password=${password}&passwordConfirm=${passwordConfirm}`,
                "PUT",
                {},
                (data) => {
                    showAlert(true, data.message)
                    setTimeout(function(){document.location.href = "/login"}, 3000);
                },
                (err) => {
                    showAlert(true, err.message);
                }
            )
        }
    };

    function validateInput() {
        let validateMessage = '';

        let password = $("#password").val().trim();
        let passwordConfirm = $("#passwordConfirm").val().trim();

        if (password.length === 0) {
            validateMessage = 'Password is required!';
        } else if (passwordConfirm.length === 0) {
            validateMessage = 'Password Confirm is required';
        } else if (password != passwordConfirm) {
            validateMessage = 'Password and confirm must be the same';
        }
        if (validateMessage.length) {
            showAlert(false, validateMessage);
            return null;
        }
        return {
            password: password,
            passwordConfirm: passwordConfirm,
        }
    };
</script>
</html>