<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="admin/shared/head :: head"></div>

<body>

<div id="right-panel" class="right-panel">
    <div class="col-lg-8">
        <div class="alert alert-success" role="alert">
            Verify Account Success!!!
        </div>
    </div>
</div>

<!--<script src="/st-admin/vendors/jquery/dist/jquery.min.js"></script>-->
<!--<script src="/st-admin/vendors/popper.js/dist/umd/popper.min.js"></script>-->
<script src="/st-admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!--<script src="/st-admin/assets/js/main.js"></script>-->
<script src="/st-admin/js/app.js"></script>

<!--<script src="/st-admin/vendors/jqvmap/dist/jquery.vmap.min.js"></script>-->
<!--<script src="/st-admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>-->
<!--<script src="/st-admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>-->

</body>

</html>