<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="supervisor/sup-share/head :: head"></div>

<body>

<div th:replace="supervisor/sup-share/wrapper :: wrapper"></div>

<div class="main-panel">

    <div th:replace="supervisor/sup-share/navbar :: navbar"></div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Change Password</h4>
                        </div>
                        <div class="content">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="hidden" id="accountId" th:value="${session.User.accountId}">
                                        <div class="form-group">
                                            <label>Old password</label>&nbsp;<span class="text-danger">(*)</span>
                                            <input type="password" id="oldPassword" class="form-control"
                                                   placeholder="Old password"
                                                   value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>New Password</label>&nbsp;<span class="text-danger">(*)</span>
                                            <input type="password" id="newPassword" class="form-control"
                                                   placeholder="New password"
                                                   value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Confirm Password</label>&nbsp;<span class="text-danger">(*)</span>
                                            <input type="password" id="confirmPassword" class="form-control"
                                                   placeholder="Confirm password"
                                                   value="">
                                        </div>
                                    </div>
                                </div>
                                <button type="reset" id="btnReset" class="btn btn-default btn-fill pull-left">Reset
                                </button>
                                <button type="button" id="btnConfirm" class="btn btn-info btn-fill pull-right">Confirm
                                </button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>

<script>
    $(document).ready(function () {
        let accountId = document.getElementById("accountId").value;
        doAjax("/admin/list_parking_lot_control_by_supervisor?supervisorId=" + accountId, "GET", null, function (data) {
            let plots = data.objectResponse;
            $("#listPlots").empty();
            $.each(plots, function (index, value) {
                let li =
                    "<a href=\"dashboard.html\" style=\"color: white;\">\n" +
                    "<i class=\"pe-7s-car\" style=\"font-size: 1.5em;\"></i>\n" +
                    "<p>" + value.displayName + "</p>\n" +
                    "</a>";
                $("#listPlots").append(li);
            });
        }, function (error) {
            console.log(error);
        });
    });

    ready(function () {
        document.getElementById("btnConfirm").addEventListener("click", function () {
            changePassword();
        });

        document.getElementById("btnReset").addEventListener("click", function () {
            resetInput();
        });
    });

    function changePassword() {
        let validateData = validateInput();
        let accountId = document.getElementById("accountId").value;
        let oldPassword = document.getElementById("oldPassword").value;
        let newPassword = document.getElementById("newPassword").value;
        let confirmPassword = document.getElementById("confirmPassword").value;

        if (validateData) {
            CallAjaxWithFetch(`/account/change_password`,
                "PUT",
                {accountId, oldPassword, newPassword, confirmPassword},
                (data) => {
                    if (data.status === true) {
                        alert(data.message);
                        //setTimeout(function () {
                        document.location.href = "/login-supervisor";
                        //}, 3000);
                    } else {
                        alert(data.message);
                    }
                },
                (err) => {
                    alert(err.message);
                }
            )
        }
    };

    function validateInput() {
        let validateMessage = '';

        let oldPassword = $("#oldPassword").val().trim();
        let newPassword = $("#newPassword").val().trim();
        let confirmPassword = $("#confirmPassword").val().trim();

        let passRegex = /([a-zA-Z\d@$!%*#?&]){6,20}$/;
        let phoneRegex = /0\d{9}/;

        if (oldPassword.length === 0) {
            validateMessage = 'Old password is required!';
        } else if (!passRegex.test(newPassword)) {
            validateMessage = 'New password must be in range 6-20 characters';
        } else if (!passRegex.test(confirmPassword)) {
            validateMessage = 'Confirm password must be in range 6-20 characters';
        }

        if (validateMessage.length) {
            alert(validateMessage);
            return null;
        }

        return {
            oldPassword: oldPassword,
            newPassword: newPassword,
            confirmPassword: confirmPassword,
        }
    }

    function resetInput() {
        document.getElementById("oldPassword").value = '';
        document.getElementById("newPassword").value = '';
        document.getElementById("confirmPassword").value = '';
    }

</script>

</html>