<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="supervisor/sup-share/head :: head"></div>
<body>

<div class="wrapper">
    <div th:replace="supervisor/sup-share/wrapper :: wrapper"></div>

    <div class="main-panel">

        <div th:replace="supervisor/sup-share/navbar :: navbar"></div>

        <div class="my-live">
            <input type="hidden" id="parkingLotId" th:value="${plotid.parkingLotId}">
            <img th:each="item : ${live}" th:src="${item.value + plotid.parkingLotId}" width="100%"
                 alt="Please check your connection!"/>
        </div>
        <div class="booking">
            <input id="accountId" type="hidden" th:value="${session.User.accountId}"/>
            <table>
                <tr>
                    <td>Booking / Available</td>
                </tr>
                <tr>
                    <td id="numBook"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>


<script>
    let myData;

    ready(function () {
        myData = setInterval(loadData, 10000);
    });

    function loadData() {
        let accountId = document.getElementById("accountId").value;
        let parkingLotId = document.getElementById("parkingLotId").value;
        doAjax("/supervisor/count_booking?parkingLotId=" + parkingLotId, "GET", null, function (response) {
            let data = response.objectResponse;
            document.getElementById("numBook").innerHTML = data;
        }, function (error) {
            console.log(error.message)
        });
    }
</script>

</html>