<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="supervisor/sup-share/head :: head"></div>
<body>

<div class="wrapper">
    <div th:replace="supervisor/sup-share/wrapper :: wrapper"></div>

    <div class="main-panel">

        <div th:replace="supervisor/sup-share/navbar :: navbar"></div>

        <div class="my-live">
            <input type="hidden" id="parkingLotId" th:value="${plotid.parkingLotId}">
            <img th:each="item : ${live}" th:src="${item.value + plotid.parkingLotId}" width="100%"
                 alt="Please check your connection!"/>
        </div>
        <div class="booking">
            <input id="accountId" type="hidden" th:value="${session.User.accountId}"/>
            <table>
                <tr>
                    <td>Booking / Available</td>
                </tr>
                <tr>
                    <td id="numBook"></td>
                </tr>
                <tr>
                    <td>Status of webcam</td>
                </tr>
                <tr>
                    <td id="statusCam"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>


<script>

    ready(function () {
        let myData = setInterval(loadData, 10000);
        let refund = setInterval(refundForDriver, 15000);
    });

    function loadData() {
        let accountId = document.getElementById("accountId").value;
        let parkingLotId = document.getElementById("parkingLotId").value;
        doAjax("/supervisor/count_booking?parkingLotId=" + parkingLotId, "GET", null, function (response) {
            let data = response.objectResponse;
            let msg = response.message;
            document.getElementById("numBook").innerHTML = data;
            document.getElementById("statusCam").innerHTML = msg;
        }, function (error) {
            console.log(error.message)
        });
    }

    function refundForDriver() {
        CallAjaxWithFetch(`/supervisor/refund_for_driver`,
            "PUT", {},
            (data) => {
                if (data.status === true) {
                    console.log(data.message);
                } else {
                    console.log(data.message);
                }
            },
            (err) => {
                console.log("bbbbbb" + err.message);
            }
        );
    }
</script>

</html>