<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="supervisor/sup-share/head :: head"></div>
<body>

<div class="wrapper">
    <div th:replace="supervisor/sup-share/wrapper :: wrapper"></div>

    <div class="main-panel">

        <div th:replace="supervisor/sup-share/navbar :: navbar"></div>

        <div class="content" id="livestream">

        </div>
    </div>
</div>
</body>


<script>

    const getVideoFeed = (parkingLotId) => {
        // debugger
        if (event) {
            event.stopPropagation();
        }
        let img = "<img src='http://703da524.ngrok.io/video_feed/" + parkingLotId + "' width=\"100%\" alt=\"Please check your connection!\" />";
        $("#livestream").html(img);
    };

    $(document).ready(function () {
        let accountId = document.getElementById("accountId").value;
        doAjax("/supervisor/list_parking_lot_control_by_supervisor?supervisorId=" + accountId, "GET", null, function (data) {
            let plots = data.objectResponse;
            $("#listPlots").empty();
            $.each(plots, function (index, value) {
                let li =
                    "<li>" +
                    "<a href=\"#\"></a>" +
                    "<a href='#'>" +
                    "<i class=\"pe-7s-car\" style=\"font-size: 1.5em;\"></i>\n" +
                    "<p style=\"color: white;\" onclick='getVideoFeed(" + value.parkingLotId + ")'>" + value.displayName + "</p>\n" +
                    "</a>" +
                    "</li>";
                $("#listPlots").append(li);
            });
        }, function (error) {
            console.log(error);
        });
    });
</script>

</html>