<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="supervisor/sup-share/head :: head"></div>

<body>
<div class="wrapper">
    <div class="sidebar sidebar-right" data-color="purple" data-image="assets/img/sidebar-5.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Login
                </a>
            </div>
            <ul class="nav">
                <li>
                    <p>Email</p>
                    <input type="text" id="email" class="form-control" placeholder="Email" />
                    <!-- <a href="dashboard.html">
                        <i class="pe-7s-home"></i>
                        <p>Home</p>
                    </a> -->
                </li>
                <li>
                    <p>Password</p>
                    <input type="password" id="password" class="form-control" placeholder="Password" />
                    <!-- <a href="user.html">
                        <i class="pe-7s-user"></i>
                        <p>User Profile</p>
                    </a> -->
                </li>
                <li class="active">
                    <a href="#" onclick="loginAccount()">
                        <p>Login</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/forget-pass-supervisor}">
                        <p>Forgot password?</p>
                    </a>
                </li>
                <!--<li class="active-pro">-->
                    <!--<p>Don't have an account?</p>-->
                    <!--<a href="../admin/login.html">-->
                        <!--<p>Contact us</p>-->
                    <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
    </div>

    <div class="main-panel" style="float: left;">
        <nav class="navbar navbar-default navbar-fixed" style="background-color: #7858BF;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../admin/login.html" style="text-transform: uppercase; color: white;">Smart
                        Parking</a>
                </div>
            </div>
        </nav>
        <div class="content" style="padding: 0px;">
            <img id="login-background-img" src="st-supervisor/img/logo3.png" />
        </div>
    </div>
</div>


</body>

<script>
    ready(function () {
        document.getElementById("btnLogin").addEventListener("click", function () {
            loginAccount();
        });

    });

    function loginAccount() {
        let email = document.getElementById("email").value;
        let password = document.getElementById("password").value;
        //2 is Web Application
        let system = 2;

        CallAjaxWithFetch(`/account/login`,
            "POST",
            {email, password, system},
            (data) => {
                if (data.status === true) {
                    //alert(data.message);
                    let authorizationToken = data.objectResponse.token;
                    localStorage.setItem("authorizationToken", authorizationToken);
                    window.location.href = "/report?email=" + email;
                }
                if (data.status === false) {
                    alert(data.message);
                }
            },
            (err) => {
                alert(err.message);
            }
        );
    }
</script>

</html>