<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="supervisor/sup-share/head :: head"></div>

<body>

<div class="wrapper">
    <div th:replace="supervisor/sup-share/wrapper :: wrapper"></div>

    <div class="main-panel">

        <div th:replace="supervisor/sup-share/navbar :: navbar"></div>

        <div class="content">
            <div class="container-fluid">
                <div class="row" id="profile-form">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Edit Profile</h4>
                            </div>
                            <div class="content">
                                <form>
                                    <input type="hidden" th:value="${session.User.accountId}" id="accountId">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" placeholder="First Name"
                                                       id="firstName" th:value="${profile.firstName}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" placeholder="Last Name"
                                                       id="lastName" th:value="${profile.lastName}">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Phone Number</label>
                                                <input type="text" class="form-control" placeholder="Phone Number"
                                                       id="phoneNumber" th:value="${profile.phoneNumber}">
                                            </div>
                                        </div>
                                    </div>
                                    <!--<button id="btn-cancel" type="button" class="btn btn-default btn-fill pull-left" disabled>Cancel</button>-->
                                    <button id="btn-update" disabled type="button"
                                            class="btn btn-info btn-fill pull-right" data-confirm="false">Update Profile
                                    </button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

<script type="text/javascript">
    $(document).ready(function () {
        // $("#btn-update").click(function(ev) {
        //     let confirm = $(this).data("confirm");
        //     if (confirm === "true") {
        //         $(".form-control").prop('disabled', true);
        //         $("#btn-update").prop('disabled', false);
        //         $("#btn-update").text("Update Profile");
        //         $(this).data("confirm", "false");
        //     } else {
        //         $(".form-control").prop('disabled', false);
        //         $("#btn-cancel").prop('disabled', false);
        //         $(this).text("Confirm");
        //         $(this).data("confirm", "true");
        //     }
        //
        // });
        // $("#btn-cancel").click(function(ev) {
        //     $(".form-control").prop('disabled', true);
        //     $("#btn-update").prop('disabled', false);
        //     $("#btn-update").text("Update Profile");
        //     $("#btn-update").data("confirm", "false")
        // });

        //get list parking lot control by supervisor
        let accountId = document.getElementById("accountId").value;
        doAjax("/supervisor/list_parking_lot_control_by_supervisor?supervisorId=" + accountId, "GET", null, function (data) {
            let plots = data.objectResponse;
            $("#listPlots").empty();
            $.each(plots, function (index, value) {
                let li =
                    "<a href=\"dashboard.html\" style=\"color: white;\">\n" +
                    "<i class=\"pe-7s-car\" style=\"font-size: 1.5em;\"></i>\n" +
                    "<p>" + value.displayName + "</p>\n" +
                    "</a>";
                $("#listPlots").append(li);
            });
        }, function (error) {
            console.log(error);
        });
    });

    ready(function () {
        $("#profile-form input").keydown(function (event) {
            $("#btn-update").prop("disabled", false);
            //Validate
        });

        document.getElementById("btn-update").addEventListener("click", function () {
            updateProfile();
        });
    });

    function updateProfile() {
        let validateData = validateInput();
        let accountId = document.getElementById("accountId").value;
        let firstName = document.getElementById("firstName").value;
        let lastName = document.getElementById("lastName").value;
        let phoneNumber = document.getElementById("phoneNumber").value;

        if (validateData) {
            doAjax("/account/update/" + accountId,
                "PUT",
                {accountId, firstName, lastName, phoneNumber},
                (data) => {
                    alert(data.message);
                    $('#btn-update').prop('disabled', true);
                    document.location.href = "/dashboard";
                },
                (err) => {
                    alert(err.message);
                }
            )
        }
    };

    function validateInput() {
        let validateMessage = '';

        let firstName = $("#firstName").val().trim();
        let lastName = $("#lastName").val().trim();
        let phoneNumber = $("#phoneNumber").val().trim();

        let intRegex = /\d+/;
        let phoneRegex = /0\d{9}/;

        if (firstName.length === 0) {
            validateMessage = 'First Name is required!';
        } else if (lastName.length === 0) {
            validateMessage = 'Last Name is required';
        } else if (!phoneRegex.test(phoneNumber)) {
            validateMessage = 'Phone number should follow format 0#########';
        }

        if (validateMessage.length) {
            alert(validateMessage);
            return null;
        }

        return {
            firstName: firstName,
            lastName: lastName,
            phoneNumber: phoneNumber,
        }
    }
</script>

</html>