<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="shared/head :: head"></div>

<body>
<div th:replace="shared/left_panel :: left_panel"></div>

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <div th:replace="shared/header :: header"></div>

    <div th:replace="shared/breadcrumbs :: breadcrumbs"></div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <b>Change Password</b>
            </div>
            <div class="card-body card-block">
                <div class="form-group">
                    <input type="hidden" id="accountId" th:value="${session.User.accountId}">
                    <label class=" form-control-label">Old password <span class="text-danger">(*)</span></label>
                    <input type="password" id="oldPassword" class="form-control" placeholder="Old Password">
                </div>
                <div class="form-group">
                    <label class=" form-control-label">New password <span class="text-danger">(*)</span></label>
                    <input type="password" id="newPassword" class="form-control" placeholder="New Password">
                </div>
                <div class="form-group">
                    <label class=" form-control-label">Confirm password <span class="text-danger">(*)</span></label>
                    <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password">
                </div>
            </div>
            <div class="card-footer">
                <button type="reset" id="btnReset" class="btn btn-danger float-left">
                    <i class="fa fa-ban"></i> Reset
                </button>
                <button id="btnConfirm" type="button" class="btn btn-primary float-right">
                    <i class="fa fa-pencil"></i> Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<script src="/vendors/jquery/dist/jquery.min.js"></script>
<script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/js/app.js"></script>

<script src="/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
<script src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<script src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

</body>
<script>

    ready(function () {
        document.getElementById("btnConfirm").addEventListener("click", function () {
            changePassword();
        });

        document.getElementById("btnReset").addEventListener("click", function () {
            resetInput();
        });
    });

    function changePassword() {
        let validateData = validateInput();
        let accountId = document.getElementById("accountId").value;
        let oldPassword = document.getElementById("oldPassword").value;
        let newPassword = document.getElementById("newPassword").value;
        let confirmPassword = document.getElementById("confirmPassword").value;

        if (validateData) {
            CallAjaxWithFetch(`/account/change_password`,
                "PUT",
                {accountId, oldPassword, newPassword, confirmPassword},
                (data) => {
                    if (data.status === true) {
                        showAlert(true, data.message);
                        document.location.href = "/login";
                    } else {
                        showAlert(false, data.message);
                    }
                },
                (err) => {
                    showAlert(false, err.message);
                }
            )
        }
    };

    function validateInput() {
        let validateMessage = '';

        let oldPassword = $("#oldPassword").val().trim();
        let newPassword = $("#newPassword").val().trim();
        let confirmPassword = $("#confirmPassword").val().trim();

        let intRegex = /\d+/;
        let phoneRegex = /0\d{9}/;

        if (oldPassword.length === 0) {
            validateMessage = 'Old password is required!';
        } else if (newPassword.length === 0) {
            validateMessage = 'New password is required';
        } else if (confirmPassword.length === 0) {
            validateMessage = 'Confirm password is required';
        }

        if (validateMessage.length) {
            showAlert(false, validateMessage);
            return null;
        }

        return {
            oldPassword: oldPassword,
            newPassword: newPassword,
            confirmPassword: confirmPassword,
        }
    }

    function resetInput() {
        document.getElementById("oldPassword").value = '';
        document.getElementById("newPassword").value = '';
        document.getElementById("confirmPassword").value = '';
    }

</script>
</html>