<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

    <div th:replace="shared/head :: head"></div>

<body>

    <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>

    <div th:replace="shared/left_panel :: left_panel"></div>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <div th:replace="shared/header :: header"></div>

        <div th:replace="shared/breadcrumbs :: breadcrumbs"></div>

        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    <b>Parking Lot</b>
                </div>
                <div class="card-body card-block">
                    <input type="hidden" th:value="${session.User.accountId}" id="accountId">
                    <div class="form-group">
                        <label class="form-control-label required">Display Name <span></span></label>
                        <input type="text" id="name" placeholder="Display Name" class="form-control"/>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="form-control-label required">Longitude</label>
                        <input type="text" id="long" placeholder="Longitude" class="form-control"/>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="form-control-label required">Latitude</label>
                        <input type="text" id="lat" placeholder="Latitude" class="form-control"/>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="form-control-label required">Total Slot</label>
                        <input type="number" id="slots" placeholder="Total Slot" class="form-control"/>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="form-control-label required">Phone Number</label>
                        <input type="text" id="phoneNumber" placeholder="Phone Number" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Address</label>
                        <input type="text" id="address" placeholder="Address" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Time of Operation</label>
                        <input type="text" id="timeOfOperation" placeholder="Time of Operation" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label required">Owner</label>
                        <input type="text" id="owner" placeholder="Owner" class="form-control"/>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="reset" class="btn btn-danger float-left" id="btnReset">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                    <button type="button" class="btn btn-primary float-right" id="btnCreate">
                        <i class="fa fa-check"></i> Create
                    </button>
                </div>
            </div>
        </div>
    </div><!-- /#right-panel -->
<!-- Right Panel -->

    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>

    <script>
        $(document).ready(function () {
            //TODO Get all owners
            //TODO $.autocomplete

            $("#btnCreate").click(function(event) {
                let validatedData = validateInput();

                //TODO Get ownerId and adminId from somewhere
                let ownerId = 1;
                let adminId = document.getElementById("accountId");

                if (validatedData) {
                    let dto = {
                        displayName: displayName,
                        longitude: long,
                        latitude: lat,
                        totalSlot: slots,
                        address: address,
                        phoneNumber: phoneNumber,
                        timeOfOperation: timeOfOperation
                    };

                    let data = {
                        dto: dto,
                        ownerId: ownerId,
                        adminId: adminId
                    };

                    doAjax("/parking_lot/create_parking_lot?ownerId=" + ownerId + "&adminId=" + adminId, "POST", dto, function (data) {
                        showAlert(true, "Add new parking lot successfully!");
                        document.location.href = "/list-parking-lots";
                    }, function (error) {
                        showAlert(false, error.message);
                    });
                }
            });
        });

        function validateInput() {
            let validateMessage = '';

            let displayName = $("#name").val().trim();
            let long = $("#long").val().trim();
            let lat = $("#lat").val().trim();
            let slots = $("#slots").val().trim();
            let phoneNumber = $("#phoneNumber").val().trim();
            let address = $("#address").val().trim();
            let timeOfOperation = $("#timeOfOperation").val().trim();

            let floatRegex = /^[+-]?\d+(\.\d+)?$/;
            let intRegex = /\d+/;
            let phoneRegex = /0\d{9}/;

            if (displayName.length === 0 ) {
                validateMessage = 'Display Name is required!';
            } else if (!floatRegex.test(long) || !floatRegex.test(lat)) {
                validateMessage = 'Long and lat should be float number!';
            } else if (!intRegex.test(slots) || parseInt(slots) === 0) {
                validateMessage = 'Total slots should be positive integer number!';
            } else if (!phoneRegex.test(phoneNumber)) {
                validateMessage = 'Phone number should follow format 0#########';
            }

            if (validateMessage.length) {
                showAlert(false, validateMessage);
                return null;
            }

            return {
                displayName: displayName,
                longitude: parseFloat(long),
                latitude: parseFloat(lat),
                totalSlot: parseInt(slots),
                address: address,
                phoneNumber: phoneNumber,
                timeOfOperation: timeOfOperation
            }
        }

        function resetInput() {
            //TODO Implement
        }

    </script>

</body>

</html>