<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smart Parking - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--TODO: add app icon-->
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" th:href="@{vendors/bootstrap/dist/css/bootstrap.min.css}" type='text/css'>
    <link rel="stylesheet" th:href="@{vendors/font-awesome/css/font-awesome.min.css}" type='text/css'>
    <link rel="stylesheet" th:href="@{vendors/themify-icons/css/themify-icons.css}" type='text/css'>
    <link rel="stylesheet" th:href="@{vendors/flag-icon-css/css/flag-icon.min.css}" type='text/css'>
    <!--<link rel="stylesheet" th:href="@{vendors/selectFX/css/cs-skin-elastic.css}" type='text/css'>-->
    <!--<link rel="stylesheet" th:href="@{vendors/jqvmap/dist/jqvmap.min.css}" type='text/css'>-->

    <link rel="stylesheet" th:href="@{assets/css/style.css}" type='text/css'>

    <link rel='stylesheet' th:href="@{assets/css/googleapi_font.css}" type='text/css'>
</head>

<body>

    <div th:replace="shared/left_panel :: left_panel"></div>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <div th:replace="shared/header :: header"></div>
            <div class="header-menu">

                <div class="col-sm-7">
                    <div class="header-left">
                        <a href="#"><h3>Dashboard</h3></a>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p style="margin: 0;">Tera Mind</p>
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" th:href="@{/edit-profile(id=1)}"><i class="fa fa-user"></i> My Profile</a>
                            <a class="nav-link" href="change-password.html"><i class="fa fa-key"></i> Change Password</a>
                            <hr/>
                            <a class="nav-link" href="login.html"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-7">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Welcome, have a nice day!</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">
                                <script>
                                    let today = new Date();
                                    let dd = today.getDate();
                                    let mm = today.getMonth() + 1;
                                    let yyyy = today.getFullYear();
                                    if(dd<10) {
                                        dd = '0'+ dd;
                                    } 
                                    if(mm<10) {
                                        mm = '0'+ mm;
                                    }
                                    document.write(mm + '/' + dd + '/' + yyyy);
                                </script>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="col-xl-12 col-lg-6">
                <div class="card text-white bg-flat-color-1">
                    <div class="card-body pb-0">
                        <h4 class="mb-0">
                            <span class="count">10468</span>
                        </h4>
                        <p class="text-light">Total Drivers</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-car text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Active Drivers</div>
                                <div class="stat-digit count">10012</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Active Supervisors</div>
                                <div class="stat-digit count">961</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-map-alt text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Active Parking Lots</div>
                                <div class="stat-digit count">770</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>

    <script src="/assets/js/app.js"></script>
    <script src="/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

</body>

</html>