<!doctype html>

<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Smart Parking - Home</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="../static/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../static/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="../static/vendors/jqvmap/dist/jqvmap.min.css">


    <link rel="stylesheet" href="assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>
    <!-- Left Panel -->

    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="home.html">
                    <h2>Smart Parking</h2>
                </a>
                <a class="navbar-brand hidden" href="home.html">
                    <h2>SP</h2>
                </a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="home.html"> <i class="menu-icon fa fa-home"></i>Home</a>
                    </li>

                    <h3 class="menu-title">Supervisors</h3><!-- /.menu-title -->
                    <li>
                        <a href="create-supervisor.html">
                            <i class="menu-icon ti-plus"></i>Create Supervisor
                        </a>
                    </li>
                    <li>
                        <a href="list-supervisors.html">
                            <i class="menu-icon fa fa-table"></i>List Supervisors
                        </a>
                    </li>

                    <h3 class="menu-title">Parking Lots</h3><!-- /.menu-title -->
                    <li>
                        <a href="list-parking-lots.html">
                            <i class="menu-icon fa fa-table"></i>List Parking Lots
                        </a>
                    </li>
                    <li class="nav-button active-pro">
                        <a href="login.html">
                            <p>Logout</p>
                        </a>
                    </li>

                    <!-- IMPORTANT This is showed only if "System Admin" -->
                    <h3 class="menu-title">Managers</h3><!-- /.menu-title -->
                    <li>
                        <a href="create-manager.html">
                            <i class="menu-icon ti-plus"></i>Create Manager
                        </a>
                    </li>
                    <li>
                        <a href="list-managers.html">
                            <i class="menu-icon fa fa-table"></i>List Managers
                        </a>
                    </li>
                    <!-- END IMPORTANT -->
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->

    <!-- Left Panel -->

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-7">
                    <div class="header-left">
                        <a href="#"><h3>Dashboard</h3></a>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <p style="margin: 0;">Tera Mind</p>
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="edit-profile.html"><i class="fa fa-user"></i> My Profile</a>
                            <a class="nav-link" href="change-password.html"><i class="fa fa-key"></i> Change Password</a>
                            <hr/>
                            <a class="nav-link" href="login.html"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-7">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Welcome, have a nice day!</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">
                                <script>
                                    let today = new Date();
                                    let dd = today.getDate();
                                    let mm = today.getMonth() + 1;
                                    let yyyy = today.getFullYear();
                                    if(dd<10) {
                                        dd = '0'+ dd;
                                    } 
                                    if(mm<10) {
                                        mm = '0'+ mm;
                                    }
                                    document.write(mm + '/' + dd + '/' + yyyy);
                                </script>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            <div class="col-xl-12 col-lg-6">
                <div class="card text-white bg-flat-color-1">
                    <div class="card-body pb-0">
                        <h4 class="mb-0">
                            <span class="count">10468</span>
                        </h4>
                        <p class="text-light">Total Drivers</p>
                    </div>
                </div>
            </div>
            <!--/.col-->

            <div class="col-xl-12 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-car text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Active Drivers</div>
                                <div class="stat-digit count">10012</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Active Supervisors</div>
                                <div class="stat-digit count">961</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-map-alt text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Active Parking Lots</div>
                                <div class="stat-digit count">770</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script src="../static/vendors/jquery/dist/jquery.min.js"></script>
    <script src="../static/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="../static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/main.js"></script>


    <script src="../static/vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="../static/assets/js/dashboard.js"></script>
    <script src="../static/assets/js/widgets.js"></script>
    <script src="../static/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="../static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="../static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    
</body>

</html>