<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="shared/head :: head"></div>

<body>

<div th:replace="shared/left_panel :: left_panel"></div>

<div id="right-panel" class="right-panel">

    <div th:replace="shared/header :: header"></div>

    <div th:replace="shared/breadcrumbs :: breadcrumbs"></div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <b>Parking Lot</b>
                <button type="button" id="btnDeactive" class="btn btn-danger float-right">
                    <i class="fa fa-ban"></i> Deactive
                </button>
            </div>
            <div class="card-body card-block" id="parkinglot-form">
                <input id="parkingLotId" type="hidden" th:value="${plot.parkingLotId}"/>
                <input id="accountId" type="hidden" th:value="${session.User.accountId}"/>
                <div class="form-group">
                    <label for="displayName" class=" form-control-label">Name</label>
                    <input type="text" id="displayName" th:value="${plot.displayName}" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="totalSlot" class=" form-control-label">Total Slot</label>
                    <input type="text" id="totalSlot" th:value="${plot.totalSlot}" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="address" class=" form-control-label">Address</label>
                    <input type="text" id="address" th:value="${plot.address}" class="form-control" required>
                </div>
            </div>
            <div class="card-footer">
                <button id="btn-save" type="button" class="btn btn-primary float-right" disabled>
                    <i class="fa fa-pencil"></i> Save
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row form-group">
            <div class="col col-md-12">
                <div class="input-group">
                    <input type="text" id="input2-group2" name="input2-group2" placeholder="Search Owner" class="form-control" style="margin-right: 10px;">
                    <div class="input-group-btn"><button class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;Assign</button></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <b>Owner</b>
            </div>
            <div class="card-body card-block">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">Parking Lot #8</a>
                    </li>
                    <!--<li class="nav-item dropdown">-->
                        <!--<a class="nav-link dropdown-toggle" id="home-tab" data-toggle="dropdown" href="#home" role="button" aria-haspopup="true" aria-expanded="false">Parking Lot #8<span class="caret"></span></a>-->
                        <!--<div class="dropdown-menu">-->
                            <!--<a class="dropdown-item" href="#">Submenu 1-1</a>-->
                            <!--<a class="dropdown-item" href="#">Submenu 1-2</a>-->
                            <!--<a class="dropdown-item" href="#">Submenu 1-3</a>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
                <div class="tab-content pl-3 p-1" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="form-group row">
                            <div class="col col-sm-3">
                                <label for="firstName" class=" form-control-label">First Name</label>
                            </div>
                            <div class="col-12 col-sm-9">
                                <input type="text" id="firstName" th:value="${plot.owner.firstName}" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col col-sm-3">
                                <label for="lastName" class=" form-control-label">Last Name</label>
                            </div>
                            <div class="col-12 col-sm-9">
                                <input type="text" id="lastName" th:value="${plot.owner.lastName}" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col col-sm-3">
                                <label for="phoneNumber" class=" form-control-label">Phone Number</label>
                            </div>
                            <div class="col-12 col-sm-9">
                                <input type="number" id="phoneNumber" th:value="${plot.owner.phoneNumber}" class="form-control" disabled>
                            </div>
                        </div>
                        <!--<button type="button" class="btn btn-danger float-left" disabled>-->
                            <!--<i class="fa fa-ban"></i> Cancel-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-primary float-right">-->
                            <!--<i class="fa fa-pencil"></i> Edit-->
                        <!--</button>-->
                        <!--<button type="button" class="btn btn-danger float-right">-->
                            <!--<i class="fa fa-trash-o"></i> Deactive-->
                        <!--</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="vendors/jquery/dist/jquery.min.js"></script>
<script src="vendors/popper.js/dist/umd/popper.min.js"></script>
<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="/js/app.js"></script>

<script src="vendors/jqvmap/dist/jquery.vmap.min.js"></script>
<script src="vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<script src="vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

</body>
<script>

    ready(function () {
        document.getElementById("btnSave").addEventListener("click", function () {
            updateParkingLot();
        });

        document.getElementById("btnDeactive").addEventListener("click", function () {
            deactiveAccount();
        })

        $("#parkinglot-form input").keydown(function (event) {
            $("#btn-save").prop("disabled", false);
            //Validate
        });
    });

    function updateParkingLot() {
        let parkingLotId = document.getElementById("parkingLotId").value;
        let displayName = document.getElementById("displayName").value;
        let totalSlot = document.getElementById("totalSlot").value;
        let address = document.getElementById("address").value;
        let accountId = document.getElementById("accountId").value;
        let active = true;

        CallAjaxWithFetch(`/parking_lot/update_parking_lot_for_admin/${parkingLotId}?adminId=${accountId}`,
            "PUT",
            {parkingLotId, displayName, totalSlot, address, active},
            (data) => {
                alert(data.message);
                document.location.href = "/list-parking-lots";
            },
            (err) => {
                alert(err.message);
            }
        )
    };

    function deactiveAccount() {

        let accountId = document.getElementById("accountId").value;

        CallAjaxWithFetch(`/account/delete/${accountId}`,
            "DELETE",
            (data) => {
                alert(data.message);
                document.location.href = "/list-supervisors";
            },
            (err) => {
                alert(err.message);
            }
        )
    };

</script>
</html>