<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="shared/head :: head"></div>

<body>

    <div th:replace="shared/left_panel :: left_panel"></div>

    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">

        <div th:replace="shared/header :: header"></div>

        <div th:replace="shared/breadcrumbs :: breadcrumbs"></div>

        <div class="col-lg-6">
            <h1>Verify Account Fail</h1>
            <a href="login.html">Click here to Login Page</a>
        </div>

    </div><!-- /#right-panel -->

    <!-- Right Panel -->

<script src="/vendors/jquery/dist/jquery.min.js"></script>
<script src="/vendors/popper.js/dist/umd/popper.min.js"></script>
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>

<script src="/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
<script src="/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<script src="/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>

</body>

</html>