<head xmlns:th="http://www.thymeleaf.org" th:fragment="head">
    <!--TODO Normalize head-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--TODO title-->
    <title>Smart Parking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--TODO: add app icon-->
    <link rel="shortcut icon" th:href="@{images/icon/favicon.ico}">

    <link rel="stylesheet" th:href="@{vendors/bootstrap/dist/css/bootstrap.min.css}" type='text/css'>
    <link rel="stylesheet" th:href="@{vendors/font-awesome/css/font-awesome.min.css}" type='text/css'>
    <link rel="stylesheet" th:href="@{vendors/themify-icons/css/themify-icons.css}" type='text/css'>
    <link rel="stylesheet" th:href="@{vendors/flag-icon-css/css/flag-icon.min.css}" type='text/css'>
    <!--<link rel="stylesheet" th:href="@{vendors/selectFX/css/cs-skin-elastic.css}" type='text/css'>-->
    <!--<link rel="stylesheet" th:href="@{vendors/jqvmap/dist/jqvmap.min.css}" type='text/css'>-->

    <link rel="stylesheet" th:href="@{assets/css/style.css}" type='text/css'>

    <link rel='stylesheet' th:href="@{assets/css/googleapi_font.css}" type='text/css'>

    <!--<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />-->
    <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">-->
    <!--<script src="//code.jquery.com/jquery-1.12.4.js"></script>-->
    <!--<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->

    <script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
</head>