<!-- Header-->
<header id="header" class="header" xmlns:th="http://www.thymeleaf.org" th:fragment="header">

    <div class="header-menu">

        <div class="col-sm-7">
            <div class="header-left">
                <!--TODO Change Header-->
                <a href="#"><h3>Dashboard</h3></a>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="user-area dropdown float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!--TODO Change name-->
                    <p style="margin: 0;">Tera Mind</p>
                </a>

                <div class="user-menu dropdown-menu">
                    <a class="nav-link" th:href="@{/edit-profile(id=1)}"><i class="fa fa-user"></i> My Profile</a>
                    <a class="nav-link" href="change-password.html"><i class="fa fa-key"></i> Change Password</a>
                    <hr/>
                    <a class="nav-link" href="login.html"><i class="fa fa-power-off"></i> Logout</a>
                </div>
            </div>
        </div>
    </div>

</header><!-- /header -->
<!-- Header-->